@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Roboto:wght@300&display=swap");
ul{
    color: #9e9fa1;
}
.para{
    color: #9e9fa1;
    font-size:18px;
    font-style: normal;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    line-height: 1.4;
    letter-spacing: 0px
}
.mytitle{
    color:#28a7e9;
    font-size: 43px;
    font-weight:bold
}
@media (max-width: 768px) {
    .mytitle {
        font-size: 26px;
    }
  }
.image{
    height: 500px;
}
  @media (max-width: 768px) {
    .image {
        width: 311px;
    }
  }