@import "./../../App.css";
.header {
  width: 100%;
  padding: 0.5rem 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1024;
  transition: all 0.5s;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 2px 2px rgba(0, 0, 0, 0.13);
}

.icon {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--THEME-DARK-BLUE);
  background: #fff;
  transition: all 0.5s;
}

.link {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.pillLink:hover {
  color: #fff;
}
.pillLink {
  text-decoration: none;
  color: #fff;
  transition: all 0.3s;
}
.pill {
  position: relative;
  width: 100px;
  text-align: center;
}
.pill:hover .pillContent {
  display: block;
}

.pillContent {
  position: absolute;
  width: 100%;
  max-width: 450px;
  z-index: 1024;
  background: #fff;
  display: none;
  transition: all 0.4s;
  border-radius: 1rem;
  background: #fff;
  list-style-type: none;
  padding: 0.5rem;
  margin: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.pillContent li {
  display: block;
  width: 100%;
  line-height: 2rem;
  text-align: center;
  font-size: 0.9rem;
  color: #aaa;
  border-radius: 1rem;
  cursor: pointer;
  position: relative;
}

.arrow {
  border-bottom: 15px solid #fff;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid transparent;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* login modal */

.loginModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  height: 80vh;
  max-height: 400px;
  width: 80vh;
  max-width: 350px;
  border-radius: 1rem;
  padding: 1rem;
  z-index: 1040;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: all 0.4s;
}

.show {
  display: block;
}

.hide {
  display: none;
}

/* drop shadow */

.shadow {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1010;
}
