body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.swiper-wrapper {
  transition-timing-function: ease-in-out !important;
}

body::-webkit-scrollbar {
  width: 10px;
  transform: 0.3s;
}
body::-webkit-scrollbar-thumb {
  background: #0085b8;
  border-radius: 1rem;
}
