@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Roboto:wght@300&display=swap");

*{
    padding: 5px;
}

.image{
    height: 200px;
    width: 200px;
    border-radius: 10px;
}
.card{
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  /* display: flex; */
  /* align-items: center; */
  justify-content: center;
  background-color: #fff;
  /* border-radius: 20px; */
}